mixin head()
	#head
		article.container
			.gallery
				.img-responsive
					img(src="img/photo1.png", class='img-width', alt="#")
				.img-responsive
					img(src="img/photo2.png", class='img-width', alt="#")
				.img-responsive
					img(src="img/photo3.png", class='img-width', alt="#")
